@media only screen and (min-width: 1420px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: row;
  }

  .zoom__container {
    width: 50%;
  }

  .boom__container {
    width: 50%;
  }
}

@media only screen and (max-width: 1419px) {
  .App {
    text-align: center;
  }

  .zoom__container {
    width: 100%;
  }

  .boom__container {
    width: 100%;
  }
}
